
// Width that the time takes up – this amount
// needs indenting for the schedule

$time-width: 109px;

.section.schedule, .section.talks {
  @media screen and (max-width: $large-break) {
    margin: 10px 0px;
  }
  h2 {
    margin-left: 5px;
  }
  .segment {
    padding: 15px 15px 10px;
    @media screen and (max-width: $mid-break) {
      padding: 15px 15px 10px;
    }
    &.lunch, &.break {
      padding: 10px 15px;
      background-color: lighten($hopbush, 30%);
      background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, lighten($hopbush, 35%) 35px, lighten($hopbush, 35%) 70px);
    }
    &.party {
      background-color: lighten($nebula, 5%);
      background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, lighten($nebula, 10%) 35px, lighten($nebula, 10%) 70px);
      h3 {
        color: $hopbush;
      }
    }
  }
  .button {
    border: 2px solid $nebula;
    box-shadow: none;
    cursor: pointer;
    position: relative;
  }
  h3.speaker {
    font-size: 30px;
    font-weight: 300;
  }
  h3.time {
    float: left;
    color: $pale-sky;
    margin-right: 30px;
    display: inline-block;
  }

  .title {
    margin-top: 10px;
    display: inline-block;
    white-space: normal;
    @media screen and (max-width: $mid-break) {
      width: 50%;
      font-size: 16px;
    }
  }
  .content, .description {
    @include transition();
    max-height: 500px;
  }
  .content.closed, .content.closed .description {
    max-height: 1px;
    overflow: hidden;
    opacity: 0;
  }
  .description {
    line-height: 1.4em;
    margin-left: 20px;
    @media screen and (max-width: $mid-break) {
      font-size: 16px;
    }
  }
  .expand {
    margin-left: 12px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5px;
    &:before, &:after {
      @include transition();
      background: $hopbush;
      border-radius: 1px;
      content: "";
      display: inline-block;
      position: absolute;
    }
    &:before {
      height: 14px;
      left: 6px;
      top: 2px;
      width: 2px;
    }
    &:after {
      height: 2px;
      top: 8px;
      width: 15px;
    }
    &.open:before, &.open:after {
      @include rotate(45deg);
    }
  }
}




.section.schedule {
  h3.speaker, .title, .description {
    margin-left: $time-width;
  }
}
