.sponsors {
  img {
    max-width: 140px;
    margin: 0 auto;
    display: block;
    @media screen and (max-width: $small-break) {
      margin-left: 15px;
      max-width: 200px;
      margin-top: 20px;
    }
  }
  .grid-top {
    @media screen and (min-width: $small-break) {
      margin-bottom: 30px;
    }
  }
  .moovweb img {
    margin-top: 15px;
  }
  .oddbird img {
    margin-top: 10px;
  }
  .popsugar img {
    margin-top: 30px;
  }
  .sassmeister img {
    margin-top: 10px;
  }
}
