.video {
  background: #699;
  box-shadow: #808C99 0px 1px 1px;
  color: #FFF;
  .unit.one-of-two {
    p { margin: 10px 30px; }
    iframe {
      width: 100%;
      @media screen and (min-width: $large-break) {
        width: 95%;
      }
    }
    &.spiel {
      margin-bottom: 10px;
      @media screen and (min-width: $large-break) {
        font-size: 20px;
      }
      @media screen and (min-width: $super-large-break) {
        font-size: 24px;
      }
    }
    .highlight {
      font-weight: bold;
    }
  }
}
