.video {
  .unit.one-of-two {
    p { margin: 10px 30px; }
    video {
      width: 100%;
      @media screen and (min-width: $large-break) {
        width: 95%;
      }
    }
    &.spiel {
      margin-bottom: 10px;
      @media screen and (min-width: $large-break) {
        font-size: 20px;
      }
      @media screen and (min-width: $super-large-break) {
        font-size: 24px;
      }
    }
    .highlight {
      font-weight: bold;
    }
  }
}