h1 {}

h2, a > h2 {
  color: $midnight-blue;
  @media screen and (min-width: $small-break) {
    margin-left: -15px;
  }
}

h3 {
  margin: 0;
  color: $pale-sky;
}

body {
  color: darken($pale-sky, 15%);
}

a {
  color: $bouquet;
  text-decoration: none;
  &:visited {
    color: $venus;
  }
  &:hover {
    color: $midnight-blue;
  }
}

.panel {
  padding: 20px 0 40px;
  &.what {
    padding: 20px 0 0;
  }
  &.speakers {
    @media screen and (min-width: $small-break) {
      padding-bottom: 0px;
    }
  }
  &.ev {
    background: $patina;
    box-shadow: $regent-grey 0px 1px 1px;
    h2, h3, .bio {
      color: $white;
    }
    a {
      color: $iron;
      &:hover { color: $pale-sky;}
    }
  }
}
.section {
  margin: 10px 100px;
  @media screen and (max-width: $small-break) {
    margin: 10px 30px;
  }
  // width: 500px;
  // @media screen and (max-width: $small-break) {
  //   width: 300px;
  // }
}

.coc .code_modification {
  font-size: 12px;
  margin-top: -15px;
}