$break: 770px;
$small-break: 540px;

h1 {}

h2, a > h2 {
  color: $midnight-blue;
  @media screen and (min-width: $small-break) {
    margin-left: -15px;
  }
}

h3 {
  margin: 0;
  color: $pale-sky;
}

body {
  color: darken($pale-sky, 15%);
}

a {
  color: $bouquet;
  text-decoration: none;
  &:visited {
    color: $venus;
  }
  &:hover {
    color: $midnight-blue;
  }
}

.intro {
  background: $hopbush;
  text-align: center;
  box-shadow: $venus 0px 1px 1px;
  .logo {
    // height: 200px;
    // width: 200px;
    background: $hopbush;
    color: white;
    font-weight: bold;
    margin: auto;
    padding: 20px 0 40px;
    font-family: "Helvetica", sans-serif;
  }
  .name {
    .top {
      font-size: 87px;
      letter-spacing: -0.07em;
    }
    .btm {
      font-size: 91px;
      letter-spacing: -0.06em;
      margin-top: -30px;
    }
  }
  .date {
    font-size: 30px;
    margin-top: -10px;
  }
  .blurb {
    font-size: 14px;
  }
}

.panel {
  padding: 20px 0;
  box-shadow: $regent-grey 0px 1px 1px;
  &.ev {
    background: $patina;
    h2, h3, div {
      color: $white;
    }
    a {
      color: $iron;
      &:hover { color: $pale-sky;}
    }
  }
}
.section {
  margin: 10px auto;
  width: 500px;
  @media screen and (max-width: $small-break) {
    width: 300px;
  }
}

.coc .code_modification {
  font-size: 12px;
  margin-top: -15px;
}