footer {
  background: $hopbush;
  padding: 40px;
  a {
    margin: 10px;
    color: $white;
    &:visited {
      color: $white;
    }
    &:hover {
      color: $iron;
    }
  }
  .links {
    text-align: center;
  }
}