footer {
  background: $hopbush;
  text-align: center;
  color: $iron;
  padding: 15px;
  font-size: 12px;
  .links > span {
    margin: 16px;
  }
  p { margin: 20px 5px 5px;}
  @media screen and (min-width: $small-break) {
    font-size: inherit;
    padding: 40px;
    .links > span { margin: 0; }
    .links > span:not(:last-child) {
      &:after {
        content: "|";
        margin: 20px;
        color: $nebula;
      }
    }
  }
  a {
    color: $white;
    &:visited {
      color: $white;
    }
    &:hover {
      color: $iron;
    }
  }
}