footer {
  background: $hopbush;
  padding: 40px;
  text-align: center;
  color: $iron;
  a {
    color: $white;
    &:visited {
      color: $white;
    }
    &:hover {
      color: $iron;
    }
  }
  .links a {
    margin: 10px;
  }
}