.pop-stripe {
  height: .25em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c69), color-stop(8.33333%, #c69), color-stop(8.33333%, #b37399), color-stop(16.66667%, #b37399), color-stop(16.66667%, #998099), color-stop(25%, #998099), color-stop(25%, #699), color-stop(33.33333%, #699), color-stop(33.33333%, #d2e1dd), color-stop(41.66667%, #d2e1dd), color-stop(41.66667%, #fff), color-stop(50%, #fff), color-stop(50%, #f2ece4), color-stop(58.33333%, #f2ece4), color-stop(58.33333%, #e1d7d2), color-stop(66.66667%, #e1d7d2), color-stop(66.66667%, #dadbdf), color-stop(75%, #dadbdf), color-stop(75%, #808c99), color-stop(83.33333%, #808c99), color-stop(83.33333%, #6b717f), color-stop(91.66667%, #6b717f), color-stop(91.66667%, #036), color-stop(100%, #036));
  background-image: -webkit-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
  background-image: -moz-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
  background-image: -o-linear-gradient(left, #c69 0%, #c69 8.33333%, #b37399 8.33333%, #b37399 16.66667%, #998099 16.66667%, #998099 25%, #699 25%, #699 33.33333%, #d2e1dd 33.33333%, #d2e1dd 41.66667%, #fff 41.66667%, #fff 50%, #f2ece4 50%, #f2ece4 58.33333%, #e1d7d2 58.33333%, #e1d7d2 66.66667%, #dadbdf 66.66667%, #dadbdf 75%, #808c99 75%, #808c99 83.33333%, #6b717f 83.33333%, #6b717f 91.66667%, #036 91.66667%, #036 100%);
  background-image: linear-gradient(left, #cc6699 0%,#cc6699 8.33333%,#b37399 8.33333%,#b37399 16.66667%,#998099 16.66667%,#998099 25%,#669999 25%,#669999 33.33333%,#d2e1dd 33.33333%,#d2e1dd 41.66667%,#ffffff 41.66667%,#ffffff 50%,#f2ece4 50%,#f2ece4 58.33333%,#e1d7d2 58.33333%,#e1d7d2 66.66667%,#dadbdf 66.66667%,#dadbdf 75%,#808c99 75%,#808c99 83.33333%,#6b717f 83.33333%,#6b717f 91.66667%,#003366 91.66667%,#003366 100%);
}
header {
  background: $hopbush;
  text-align: center;
  box-shadow: $venus 0px 1px 1px;
  padding-top: 10px;
  .logo {
    background: $hopbush;
    color: white;
    font-weight: bold;
    margin: 0px auto;
    padding: 20px 0;
    font-family: "Helvetica", sans-serif;
    display: inline-block;
    @media screen and (max-width: $large-break) {
      padding: 0 0 20px;
    }
  }
  .name {
    font-size: 36px;
    a {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  .campfire {
    display: inline-block;
    height: 70px;
    width: 70px;
    @media screen and (max-width: $large-break) {
      width: 70px;
      height: 70px;
    }
  }
}
header.index {
  .logo {
    padding: 20px 0 40px;
  }
  .name {
    .top {
      font-size: 145px;
      letter-spacing: -0.08em;
      @media screen and (max-width: $large-break) {
        font-size: 85px;
      }
    }
    .btm {
      font-size: 150px;
      letter-spacing: -0.06em;
      margin-top: -50px;
      @media screen and (max-width: $large-break) {
        font-size: 88px;
        margin-top: -31px;
      }
    }
  }
  .date {
    font-size: 50px;
    margin-top: -24px;
    @media screen and (max-width: $large-break) {
      font-size: 29px;
      margin-top: -15px;
    }
  }
  .blurb {
    font-size: 14px;
    @media screen and (max-width: $large-break) {
      font-size: 9px;
    }
  }
  .campfire {
    display: inline-block;
    height: 300px;
    width: 300px;
    @media screen and (max-width: $large-break) {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }
  }
}