.section.schedule {
  @media screen and (max-width: $large-break) {
    margin: 10px 0px;
  }
  h2 {
    margin-left: 5px;
  }
  .segment {
    padding: 15px 15px 10px;
    @media screen and (max-width: $mid-break) {
      padding: 15px 15px 0;
    }
    &.lunch, &.break {
      padding: 10px 15px;
      background-color: lighten($hopbush, 30%);
      background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, lighten($hopbush, 35%) 35px, lighten($hopbush, 35%) 70px); 
    }
    &.party {
      background-color: lighten($nebula, 5%);
      background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, lighten($nebula, 10%) 35px, lighten($nebula, 10%) 70px); 
      h3 {
        color: $hopbush;
      }
    }
  }
  h3.time {
    float: left;
    color: $pale-sky;
    margin-right: 30px;
    display: inline-block;
  }
  .blurb {
    display: inline-block;
    width: 70%;
    @media screen and (max-width: $mid-break) {
      width: 60%;
    }
    > .title {
      font-style: italic;
      margin-top: 10px;
      display: inline-block;
      @media screen and (max-width: $mid-break) {
        width: 90%;
        font-size: 12px;
      }
    }
    .description {
      @media screen and (max-width: $mid-break) {
        font-size: 12px;
      }
    }
  }
  .expand, .contract {
    margin-left: 12px;
    color: $hopbush;
    cursor: pointer;
    position: relative;
    top: -1px;
    @media screen and (max-width: $mid-break) {
      margin-left: 0px;
      float: right;
      top: -18px;
    }
  }
}