.sponsors {
  img {
    max-width: 140px;
    margin-left: 25px;
    @media screen and (max-width: $small-break) {
      margin-left: 15px;
      max-width: 200px;
    }
  }
  .moovweb img {
    margin-top: 15px;
    @media screen and (max-width: $small-break) {
      margin-top: 20px;
    }
  }
  .popsugar img {
    margin-top: 10px;
    @media screen and (max-width: $small-break) {
      margin-top: 20px;
    }
  }
}