.panel.thankyou {
  max-width: 500px;
  margin: auto;
  .old {
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }
  @media screen and (max-width: $small-break) {
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .subscribe {
    margin: 0 auto;
    width: 380px;
    display: -webkit-box;
  }
  #mce-EMAIL {
    margin-right: 20px;
    margin-top: 8px;
    font-size: 19px;
  }
}