.panel.thankyou {
  max-width: 500px;
  margin: auto;
  .old {
    font-size: 14px;
    font-style: italic;
    text-align: center;
  }
  @media screen and (max-width: $small-break) {
    margin: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .subscribe {
    margin: 0 auto;
    width: 280px;
  }
  .mc-field-group {
    display: inline-block;
  }
  #mce-EMAIL {
    margin-top: 8px;
    font-size: 19px;
    float: left;
  }
  .clear {
    width: 100%;
    text-align: center;
    > input {
      display: inline-block;
    }
  }
}