.venue {
  .map {
    @media screen and (max-width: 370px) {
      margin-left: -25px;
    }
  }
  iframe {
    border: 5px solid $hopbush;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
  }
}