.what .section {
  .unit {
    @media screen and (max-width: $small-break) {
      margin-bottom: 20px;
    }
  }
  .icon-wrap {
    float: left;
    height: 90px;
    @media screen and (min-width: $small-break) {
      height: 160px;
    }
  }
  .icon {
    width: 50px;
    height: 50px;
    border: 5px solid $hopbush;
    border-radius: 50%;
    margin-right: 10px;
    .arrow {
      width: 50px;
      height: 50px;
    }
    .mic {
      width: 41px;
      height: 41px;
      margin: 4px 0 0 5px;
    }
    .cal {
      width: 35px;
      height: 35px;
      margin: 6px 0 0 8px;
    }
  }
}