h1 {}

h2, a > h2 {
  color: $midnight-blue;
  @media screen and (min-width: $large-break) {
    margin-left: -15px;
  }
}

h3 {
  margin: 0;
  color: $pale-sky;
}

body {
  color: darken($pale-sky, 15%);
}

a {
  @include transition();
  color: $bouquet;
  text-decoration: none;
  &:visited {
    color: $venus;
  }
  &:hover {
    color: $midnight-blue;
  }
}

.panel {
  padding: 20px 0 40px;
  &.what {
    padding: 20px 0 0;
  }
  &.speakers {
    @media screen and (min-width: $large-break) {
      padding-bottom: 0px;
    }
  }
  &.ev {
    background: $patina;
    box-shadow: $regent-grey 0px 1px 1px;
    color: $white;
    h2, h3, .bio {
      color: $white;
    }
    a {
      color: $iron;
      &:hover { color: $pale-sky;}
    }
  }
}
.section {
  margin: 10px 100px;
  @media screen and (max-width: $large-break) {
    margin: 10px 30px;
  }
}

.alert {
  background: $iron;
  color: $regent-grey;
  text-align: center;
  padding: 10px;
  a {
    color: $hopbush;
    &:hover {
      border-bottom: 1px solid rgba(255, 255, 255, 0.75);
    }
  }
}

// Buttons

.button {
  -webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.125);
  -moz-box-shadow: 0 2px 1px rgba(0,0,0,0.125);
  box-shadow: 0 2px 1px rgba(0,0,0,0.125);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-align: center;
  border-style: solid;
  border-width: 0.0625em;
  padding: 0.6875em;
  display: block;
  border-radius: 0.25em;
  padding-right: 16px;
  padding-left: 16px;
}

.primary.button {
  background-color: $hopbush;
  border-color: darken($hopbush, 5);
  &,
  &:visited,
  &:hover,
  &:focus,
  &:active,
  &.active { color: $white; }

  &:hover,
  &:focus,
  &:active
  &.active { background-color: darken($hopbush, 8%); }
}
