.section
  %a{:name=>"venue"}
    %h2 Where
  .directions
    %p 
      In San Francisco! Oh wait, you wanted more detail than that? Unfortunately, we couldn't find a camp within walking distance to SOMA, so instead the marvelous people at 
      =link_to "Code for America", "http://codeforamerica.org"
      have graciously allowed us to use their offices to host CampSass.
  .map  
    %iframe{:width=>"300", :height=>"300", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=155+9th+Street,+San+Francisco,+CA&aq=0&oq=155+9th&sll=37.7577,-122.4376&sspn=0.16856,0.239983&ie=UTF8&hq=&hnear=155+9th+St,+San+Francisco,+California+94103&t=m&z=14&ll=37.775531,-122.413838&output=embed"}

