.grid
  .unit.one-of-two.spiel
    %p
      %span.highlight
        Camp Sass
      is a conference in downtown San Francisco for front end developers, CSS ninjas, UX mavens, and Sasstronauts where you come to learn the latest Sass news, meet other Sasstronauts, and find out about how to make your teams more effective.
    %p Plus, it's a chance to get drunk with Hampton at the afterparty! A must-do if you love Sass.
    %p Check out our promo video, too.
  .unit.one-of-two
    %video{width: "95%", controls: true}
      %source{src: "https://dl.dropboxusercontent.com/s/o62tdo1gttzs83q/Camp%20Sass%20Promo%202.mp4?dl=1&token_hash=AAFFUF4TwPKLyhfzwnDuzbtBGYAaCEzHZa8BI8WB7f7dsg", type:"video/mp4"}

- if false
  <iframe src="//player.vimeo.com/video/88610240" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
