=partial "../index_header"

.alert
  Now you can find out when everyone is speaking: the #{link_to "schedule", "/2014/schedule"} is up!

.panel.what
  =partial "what"
.panel.video.ev
  =partial "video"
.panel.speakers
  =partial "speakers"
.panel.venue.ev
  =partial "venue"
.panel.tickets
  =partial "tickets"
.panel.sponsors.ev
  =partial "sponsors"
.panel.coc
  =partial "coc"


.pop-stripe