.section
  %a{:name=>"conduct"}
    %h2 Code of Conduct

  .code_modification
    %p
      Camp Sass adheres to the #{link_to "the Sass Community Guidelines", "http://sass-lang.com/community-guidelines", :target=>"blank"}. We take them very seriously and they will be enforced at the event.
    %p
      If you feel like the Sass Community Guidelines have been breached, please find an organizer or contact Michael via #{link_to "twitter", "http://twitter.com/malrase", :target=>"blank"}.
