.grid
  .unit.one-of-two.spiel
    %p
      %span.highlight
        Camp Sass
      is a one day conference for front end developers, CSS ninjas, UX mavens, and Sasstronauts where you come to learn the latest Sass news, meet other Sasstronauts, and find out about how to make your teams more effective.
    %p Plus, it's a chance to get drunk with Hampton at the afterparty! A must-do if you love Sass.
    %p Check out our promo video, too.
  .unit.one-of-two
    %iframe{src: "//player.vimeo.com/video/117614166", width: "95%", height: "300px", frameborder: "0", webkitallowfullscreen: "webkitallowfullscreen", mozallowfullscreen: "mozallowfullscreen", allowfullscreen: "allowfullscreen"}

  -if false
    %video{width: "95%", controls: true}
      %source{src: "https://dl-web.dropbox.com/get/CampSass%20visuals/Camp%20Sass%202015.mp4?_subject_uid=272550414&w=AADsfw6fX7V9mTLBT5Mpwv5fWTo4TGZfvhPAlxeINmqQRQ&dl=1", type:"video/mp4"}
