.section
  %h2 What
  .grid
    .unit.one-of-three
      .icon-wrap  
        .icon
          %img.arrow{:src=>"/images/arrow-up.png"}
      .point
        %h3 One-track
        A single track allows you to get all the information you can from the conference.
    .unit.one-of-three
      .icon-wrap  
        .icon
          %img.mic{:src=>"/images/mic.png"}
      .point
        %h3 Great speakers
        Our outstanding speakers are pre-eminent in the Sass and design communities.
    .unit.one-of-three
      .icon-wrap  
        .icon
          %img.cal{:src=>"/images/calendar.png"}
      .point
        %h3 One-day
        CampSass is a single day conference, so won't take a huge chunk of your time.