%footer
  .links
    = link_to "About", "#"
    = link_to "Twitter", "http://twitter.com/CampSass", {:target=>"_blank"}
    = link_to "Sass Site", "http://sass-lang.com"
  %p Built using the #{link_to "Sass styleguide", "http://sass-lang.com/styleguide", :target=>"_blank"}.
