%footer
  .links
    %span #{link_to "Email Us!", "mailto:campsass@hamptoncatlin.com", :target=>"_blank"}
    %span #{link_to "Sass Site", "http://sass-lang.com", :target=>"_blank"}
    %span #{link_to "Sass Styleguide", "http://sass-lang.com/styleguide", :target=>"_blank"}
    %span #{link_to "Twitter", "http://twitter.com/CampSass", :target=>"_blank"}
  %p Brought to you by Catlin Software, LLC. – Sorry, but there are no jokes in this footer.
