.pop-stripe
/ %header 
/   %h2 CAMP SASS
/   .menu
/     #menu-button Menu
/     .links
/       =link_to "Speakers", "#speakers"
/       =link_to "Venue", "#venue"
/       =link_to "Tickets", "#tickets"
/       =link_to "Conduct", "#conduct"
%header
  .logo
    .name
      .top CAMP
      .btm SASS
    .date
      April 19th, 2014
    .blurb
      One-day, one-track Sass conference in San Francisco