.pop-stripe
%header 
  %h2 CAMP SASS
  .menu
    #menu-button Menu
    .links
      =link_to "Speakers", "#speakers"
      =link_to "Venue", "#venue"
      =link_to "Tickets", "#tickets"
      =link_to "Conduct", "#conduct"