.section
  %a{:name=>"schedule"}
    %h2 Schedule
  .segment
    %h3.time
      10:15am
    .blurb
      %h3 Chris Eppstein
      Chris is going to talk about exciting upcoming features in Sass 3.3.
  .segment
    %h3.time
      11:00am
    .blurb
      %h3 Break
  .segment
    %h3.time
      11:15am
    .blurb
      %h3 Two Talks
  .segment
    %h3.time
      12:15pm
    .blurb
      %h3 Lunch
  .segment
    %h3.time
      01:15pm
    .blurb
      %h3 Two Talks
  .segment
    %h3.time
      02:15pm
    .blurb
      %h3 Break
  .segment
    %h3.time
      02:30pm
    .blurb
      %h3 Two Talks
  .segment
    %h3.time
      03:30pm
    .blurb
      %h3 Break
  .segment
    %h3.time
      04:00pm
    .blurb
      %h3 Two Talks
  .segment
    %h3.time
      06:00pm
    .blurb
      %h3 Party