.section.speakers 
  %a{:name=>"speakers"}
    %h2 Who
  .speaker
    .pic
      %img{:src=>"images/hamptoncatlin.jpg"}
    %h3 Host: Hampton Catlin
    .bio
      Hampton is the creator of Sass, Haml, Tritium and Wikipedia mobile. He also thinks he's pretty funny. Oh, and he's the curator and MC for the event.
  .speaker
    .pic
      %img{:src=>"images/chriseppstein.jpg"}
    %h3 Keynote: Chris Eppstein
    .bio
      Chris is the creator of Compass, and the man behind pretty much all of Sass' cutting-edge features. Chris will be filling us in on all the newest, coolest, most powerful things that are coming up in Sass.
  .speaker
    .pic
      %img{:src=>"images/claudinasarahe.jpeg"}
    %h3 Claudina Sarahe
    .bio
      Claudina is awesome and I don't have a bio for her yet so I'm going to just write some stuff but she's srsly great and I like hanging out with her and she does codez.
  .speaker
    .pic
      %img{:src=>"images/smithschwartz.jpg"}
    %h3 Smith Schwartz
    .bio
      I also dont have a bio for Smith yet but she's awesome too and likes to travel and does front-end and design and drinks red wine with Hampton and I.
  .speaker
    .pic
      %img{:src=>"images/aaronleung.png"}
    %h3 Aaron Leung
    .bio
      Aaron is the maintainer of #{link_to "LibSass", "http://libsass.org/", :target=>"_blank"}, the C++ implementation of Sass. He'll be talking about upcoming features in this implementation. In his spare time he is learning Norwegian.