.section.speakers 
  %a{:name=>"speakers"}
    %h2 Who
  .speaker
    .pic
    %h3 Host: Hampton Catlin
    .bio
      Hampton is the creator of Sass, Haml, Tritium and Wikipedia mobile. He also thinks he's pretty funny. Oh, and he's the curator and MC for the event.
  .speaker
    .pic
    %h3 Keynote: Chris Eppstein
    .bio
      Chris is the creator of Compass, and the man behind pretty much all of Sass' cutting-edge features. Chris will be filling us in on all the newest, coolest, most powerful things that are coming up in Sass.
  .speaker
    .pic
    %h3 Name Surname
    .bio
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
  .speaker
    .pic
    %h3 Name Surname
    .bio
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco