.section
  %a{:name=>"sponsors"}
    %h2 Sponsors
  .grid
    .salesforce.unit.one-of-two
      %a{:href=>"http://salesforce.com"}
        %img{:src=>"images/sponsors/salesforce.png"}
    .codeforamerica.unit.one-of-two
      %a{:href=>"http://codeforamerica.org"}
        %img{:src=>"images/sponsors/codeforamerica.png"}
    .moovweb.unit.one-of-two
      %a{:href=>"http://moovweb.com"}
        %img{:src=>"images/sponsors/moovweb.png"}
    .popsugar.unit.one-of-two
      %a{:href=>"http://www.popsugar.com/"}
        %img{:src=>"images/sponsors/popsugar.png"}
