.section
  %a{:name=>"sponsors"}
    %h2 Sponsors
  .grid.grid-top
    .salesforce.unit.one-of-three
      %a{:href=>"http://dribbble.com/salesforce"}
        %img{:src=>"/images/sponsors/salesforce.png"}
    .ibm.unit.one-of-three
      %a{:href=>"http://ibm.com/design"}
        %img{:src=>"/images/sponsors/ibm-logo.svg"}
