.section
  %a{:name=>"sponsors"}
    %h2 Sponsors
  .grid.grid-top
    .codeforamerica.unit.one-of-three
      %a{:href=>"http://codeforamerica.org"}
        %img{:src=>"images/sponsors/codeforamerica.png"}
    .salesforce.unit.one-of-three
      %a{:href=>"http://dribbble.com/salesforce"}
        %img{:src=>"images/sponsors/salesforce.png"}
    .moovweb.unit.one-of-three
      %a{:href=>"http://moovweb.com"}
        %img{:src=>"images/sponsors/moovweb.png"}
  .grid
    .popsugar.unit.one-of-three
      %a{:href=>"http://www.popsugar.com/"}
        %img{:src=>"images/sponsors/popsugar.png"}
    .sassmeister.unit.one-of-three
      %a{:href=>"http://sassmeister.com"}
        %img{:src=>"images/sponsors/sassmeister.png"}
    .oddbird.unit.one-of-three
      %a{:href=>"http://oddbird.net/"}
        %img{:src=>"images/sponsors/oddbird.svg"}
