.section
  %a{:name=>"sponsors"}
    %h2 Sponsors
  .sponsor
    %a{:href=>"http://salesforce.com"}
      %img{:src=>"images/sponsors/salesforce.png"}
  .sponsor
    %a{:href=>"http://moovweb.com"}
      %img{:src=>"images/sponsors/moovweb.png"}