.section
  %a{:name=>"venue"}
    %h2 Where
  .directions
    %p
      Atlanta &mdash; The epicenter of tech and design in the South. Camp Sass will be at #{link_to "Polygon", "http://polygonatl.com"} in Atlantic Station. Centrally located with tons of amenities just a few steps away. If you're looking for a nearby hotel, check out the #{link_to "Twelve Atlantic Station", "http://www.twelvehotels.com/atlanticstation/"}, just around the corner. For a discounted rate, go to reservations and enter Corporate/ Promotional Code: PYGC.
  .map
    %iframe{:width=>"300", :height=>"300", :frameborder=>"0", :scrolling=>"no", :marginheight=>"0", :marginwidth=>"0", :src=>"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3315.744071306029!2d-84.39700280000001!3d33.7931066!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f504f81046dffb%3A0x9c71f160447cd647!2s264+19th+St+NW%2C+Atlantic+Station%2C+Atlanta%2C+GA+30363!5e0!3m2!1sen!2sus!4v1421959554410"}
