%video{width: "100%", controls: true}
  %source{src: "https://dl.dropboxusercontent.com/s/o62tdo1gttzs83q/Camp%20Sass%20Promo%202.mp4?dl=1&token_hash=AAFFUF4TwPKLyhfzwnDuzbtBGYAaCEzHZa8BI8WB7f7dsg", type:"video/mp4"}

- if false 
  <iframe src="//player.vimeo.com/video/88610240" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>