.section.what
  %h2 What
  .point
    .icon
      %img.arrow{:src=>"images/arrow-up.png"}
    %h3 One-track
    A single track allows you to get all the information you can from the conference.
  .point
    .icon
      %img.mic{:src=>"images/mic.png"}
    %h3 Great speakers
    Our outstanding speakers are pre-eminent in the Sass and design communities.
  .point
    .icon
      %img.cal{:src=>"images/calendar.png"}
    %h3 One-day
    CampSass is a single day conference, so won't take a huge chunk of your time.