.intro  
  .logo
    .name
      .top CAMP
      .btm SASS
    .date
      April 19th, 2014
    .blurb
      One-day, one-track SF Sass conf

.section.what
  %h2 What
  Camp Sass is a one-day, one-track UX/Sass/Design/Hampton conference, meant to be a more casual Sass conference than #{link_to "Sass Conf", "http://sassconf.pgdn.us/", :target=>"blank"}.
  We're doing it quick, dirty, and hopefully super-insightful and fun. It's all put together and hosted by the creator of Sass, Hampton Catlin. 

=partial "speakers"

=partial "venue"

=partial "tickets"

=partial "coc"