=partial "index_header"

.panel.what
  =partial "what"
.panel.video
  =partial "video"
.panel.speakers
  =partial "speakers"
.panel.venue.ev
  =partial "venue"
.panel.tickets
  =partial "tickets"


  %h1 Sign up for updates!
  .subscribe.mc_embed_signup
    %link{:href=>"//cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel=>"stylesheet", :type=>"text/css"}
    %form{:action=>"http://catlinsoftware.us3.list-manage.com/subscribe/post?u=f1d50be4cecfc8844afa5879b&amp;id=6f2fa192f9", :method=>"post", :id=>"mc-embedded-subscribe-form", :name=>"mc-embedded-subscribe-form", :class=>"validate", :target=>"_blank", :novalidate=>"novalidate"}
      .mc-field-group
        %label{:for=>"mce-EMAIL"}
        %input.required.email#mce-EMAIL{:type=>"email", :value=>"", :name=>"EMAIL", :placeholder=>"Enter e-mail"}
      #mce-responses.clear
        .response#mce-error-response{:style=>"display:none"}
        .response#mce-success-response{:style=>"display:none"}
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      %div{:style=>"position: absolute; left: -5000px;"}
        %input{:type=>"text", :name=>"b_f1d50be4cecfc8844afa5879b_6f2fa192f9", :value=>""}
      .clear
        %input.button.primary#mc-embedded-subscribe{:type=>"submit", :value=>"Subscribe", :name=>"subscribe"}
