=partial "index_header"

.panel.what
  =partial "what"
.panel.video.ev
  =partial "video"
.panel.speakers
  =partial "speakers"
.panel.venue.ev
  =partial "venue"
.panel.tickets
  =partial "tickets"
.panel.sponsors.ev
  =partial "sponsors"
.panel.coc
  =partial "coc"


.pop-stripe