.intro  
  .logo
  .blurb
    A one-day, one-track conference for lovers of Camp and Sass.
  .dateloc
    April 19th, 2014 – Somewhere in SOMA, San Francisco

=partial "speakers"

=partial "venue"

=partial "tickets"

=partial "coc"