=partial "header"

.panel.thankyou
  %p 
    We would like to thank everyone for how amazing CampSass was. Despite a couple of hitches (we're looking at you, AV) the day went off better than we could have ever hoped.
  %p 
    The 
    %strong speakers 
    were engaging and covered a wide range of topics – everything from the nature of art to how your browser paints pixels.
  %p 
    The
    %strong attendees
    were enthusiastic and came up with a number of insightful and interesting questions.
  %p 
    The 
    %strong sponsors and helpers
    were amazing and helped us organize throughout not only the day, but the weeks and months leading up to CampSass.
  %p 
    One of the most heart-warming things that we came away with was the sense of 
    %strong community
    within Sass. The respect given from and to everyone was wonderful, and gives us great optimism about the future.
  %p 
    Hopefully, it inspired everyone who attended to do great things – whether that be in helping document an open-source project or put together a local meetup.
  %p 
    For more Sass goodness, check out #{link_to "SassConf", "http://sassconf.com/"}, coming up in October in New York City. Or, to get updates about CampSass, subscribe to our mailing list:
    .subscribe.mc_embed_signup
      %link{:href=>"//cdn-images.mailchimp.com/embedcode/slim-081711.css", :rel=>"stylesheet", :type=>"text/css"}
      %form{:action=>"http://catlinsoftware.us3.list-manage.com/subscribe/post?u=f1d50be4cecfc8844afa5879b&amp;id=6f2fa192f9", :method=>"post", :id=>"mc-embedded-subscribe-form", :name=>"mc-embedded-subscribe-form", :class=>"validate", :target=>"_blank", :novalidate=>"novalidate"}
        .mc-field-group
          %label{:for=>"mce-EMAIL"}  
          %input.required.email#mce-EMAIL{:type=>"email", :value=>"", :name=>"EMAIL", :placeholder=>"Enter e-mail"}
        #mce-responses.clear
          .response#mce-error-response{:style=>"display:none"}
          .response#mce-success-response{:style=>"display:none"}
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        %div{:style=>"position: absolute; left: -5000px;"}
          %input{:type=>"text", :name=>"b_f1d50be4cecfc8844afa5879b_6f2fa192f9", :value=>""}
        .clear
          %input.button.primary#mc-embedded-subscribe{:type=>"submit", :value=>"Subscribe", :name=>"subscribe"}

  %p – Hampton and Michael
  %br
  %p.old Looking for the the #{link_to "CampSass 2014", "/2014/"} site?
