.panel.what
  =partial "what"
.panel.speakers.ev
  =partial "speakers"
.panel.venue
  =partial "venue"
.panel.tickets.ev
  =partial "tickets"
.panel.coc
  =partial "coc"
/ .panel.sponsors.ev
/   =partial "sponsors"
.pop-stripe