.intro
  .logo
    .name
      .top CAMP
      .btm SASS
      %img(src="/images/campfire.svg")
    .date
      April 19th, 2014
    .blurb
      One-day, one-track Sass conference in San Francisco
.panel
  =partial "what"
.panel.ev
  =partial "speakers"
.panel
  =partial "venue"
.panel.ev
  =partial "tickets"
.panel
  =partial "coc"
.panel.ev
  =partial "sponsors"
.pop-stripe