=partial "header"
.section.schedule
  %a{:name=>"schedule"}
    %h2 Schedule
    %h3 Coming soon!
  -# .segment.break
  -#   %h3.time
  -#     09:30am
  -#   .blurb
  -#     %h3 Coffee
  -# .segment
  -#   .button
  -#     %h3.time
  -#       10:00am
  -#     %h3.speaker Hampton Catlin
  -#     .title Opening Remarks
  -#     %span.expand
  -#   .content.closed
  -#     .description
  -#       %p Hampton will introduce the conference.

  -# .segment.party
  -#   .button
  -#     %h3.time
  -#       06:00pm
  -#     %h3 Party
  -#     .title TBD
  -#     %span.expand
  -#   .content.closed
  -#     .description
  -#       %p
  -#         Just over a block from the Code for America venue is
  -#         %a{:href=>"http://www.azucarsf.com/about.html", :target=>"_blank"} Azúcar Lounge,
  -#         a relaxed Latin-American-inspired bar. There'll be an open bar tab plus snacks to enjoy. Conference badge and ID will be required to get in!
  -#       %p
  -#         Address:
  -#         %a{:href=>"https://www.google.com/maps/place/Az%C3%BAcar+Lounge/@37.773922,-122.411619,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x75de737f08dfe689", :target=>"_blank"} 299 9th St (at Folsom)
