=partial "header"
.section.schedule
  %a{:name=>"schedule"}
    %h2 Schedule
  .segment.break
    %h3.time
      10:00am
    .blurb
      %h3 Arrival
  .segment
    .button
      %h3.time
        10:15am
      %h3.speaker Hampton Catlin
      .title Opening Remarks
      %span.expand
    .content.closed
      .description
        %p Hampton will introduce the conference.
  .segment
    .button
      %h3.time
        10:30am
      %h3.speaker Micah Godbolt
      .title Visual Regression Testing with PhantomCSS
      %span.expand
    .content.closed
      .description
        %p Getting into component based design? Rocking out a little Pattern Lab? Do you have the best looking style guides? Take things to the next level with a little Visual Regression Testing!

        %p With PhantomCSS you'll be able to write test files right next to your Sass  component partials. These tests will ensure that the appearance and interactions of your components are consistent from build to build.

        %p No more being surprised that your country selector has been broken on mobile devices for the past 4 builds! With PhantomCSS you'll have a suite of tests to run after every build that will ensure your site is looking and functioning exactly like it should!

        %p Come learn about the tools, the process and the things I've learned running PhantomCSS on a large, distributed style system for Redhat.com
  .segment.break
    %h3.time
      11:30am
    .blurb
      %h3 Break
  .segment
    .button
      %h3.time
        11:45am
      %h3.speaker Mina Markham
      .title Finding Your Sassy Tribe
      %span.expand
    .content.closed
      .description
        %p People often ask me why I chose Sass over other CSS preprocessors. My answer has always been the same: the community.

        %p Community is a term that gets tossed around a lot, but at its core, it's about people. I'll talk about how I came to love Sass, and in the process, became a part of something much larger than myself. Along the way, we'll define what a tribe is, and how you can start to find yours.

        %p Finding your tribe changes everything.

  .segment.lunch
    %h3.time
      12:15pm
    .blurb
      %h3 Lunch
  .segment
    .button
      %h3.time
        01:45pm
      %h3.speaker Ian Carrico
      .title Don't Use Sass
      %span.expand
    .content.closed
      .description
        %p Sass has been around for a long time, and over the past few years adoption has been widespread. The experiment has been done, the results are in: Sass is over. The world of pre-processors has come to an end, and the issues that arise from using them far outweighs any benefits.

        %p @extend creates crazy code, completely unpredictable. Vendor prefixes should be done in post-processors. @mixins just write out too much code. Probably worst of all, Ruby-sass is slow— while LibSass is not feature complete.

        %p It is time to jump ship, it is time to return to vanilla CSS.
  .segment
    .button
      %h3.time
        02:15pm
      %h3.speaker Bermon Painter
      .title TBD
      %span.expand
    .content.closed
      .description
        %p Coming soon!
  .segment.break
    %h3.time
      02:45pm
    .blurb
      %h3 Break
  .segment
    .button
      %h3.time
        03:00pm
      %h3.speaker Una Kravets
      .title Open Source Design: A Love Story
      %span.expand
    .content.closed
      .description
        %p When designers and developers work together from the start, it produces better outcomes. But how can we make the open source community more inclusive and welcoming to new ideas and workflows?

        %p This talk focuses on the barriers to designers and actions we can take today to build a more intellectually diverse and collaborative community.
  .segment.break
    %h3.time
      03:45pm
    .blurb
      %h3 Break
  .segment
    .button
      %h3.time
        04:00pm
      %h3.speaker Jina Bolton
      .title TBD
      %span.expand
    .content.closed
      .description
        %p Coming soon!

  .segment.party
    .button
      %h3.time
        05:30pm
      %h3 Party
      .title TBD
      %span.expand
    .content.closed
      .description
        %p
          Details coming soon, but we're always guaranteed to put on a great event!
